@model SCMS.DAL.Models.Course

@{
    ViewBag.Title = "Course Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
     @Html.ActionLink("View course material", "GetCourseDirectories", "Directories", routeValues: new { courseId = Model.ID}, htmlAttributes: null) | 
    @Html.ActionLink("View course evaluated activities", "GetCourseActivities", "EvaluatedActivities", routeValues: new { courseId = Model.ID }, htmlAttributes: null)
    @Html.ActionLink("Back to List", "Index")
</p>
